*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fafafa; }

.nav {
  font-size: 1.8rem;
  background-color: white;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem; }
  .nav h2 {
    font-weight: 800; }

.dark-mode-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7%;
  font-weight: 600;
  cursor: pointer; }

.filter-section {
  margin-top: 6rem;
  align-items: center; }
  .filter-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem; }

.input-container {
  width: 25%;
  position: relative; }

input,
.select-region {
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); }

input {
  width: 100%;
  background-color: white;
  padding: 2rem 7rem; }
  input::placeholder {
    font-family: inherit;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    opacity: 0.8; }
  input[type='search'] {
    font-size: 1.6rem; }

.search-icon {
  position: absolute;
  left: 25px;
  top: 20px;
  font-size: 1.8rem;
  opacity: 0.7;
  font-weight: 800; }

.filter-region--container {
  width: 10%;
  position: relative; }

.select-region {
  background-color: white;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s; }
  .select-region:hover {
    opacity: 0.7; }
  .select-region p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600; }

.dropdown-icon {
  font-size: 1.5rem; }

.filter--region {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem 1rem 1rem 0;
  margin-top: 3px;
  z-index: 100; }

/* hide regions */
.hidden {
  display: none; }

.list--items {
  margin: 0;
  list-style-type: none;
  font-size: 1.5rem;
  padding-left: 2rem; }
  .list--items li:hover {
    cursor: pointer;
    font-weight: 800;
    opacity: 0.7;
    background-color: #fafafa; }
  .list--items li:not(:last-child) {
    margin-bottom: 10px; }

.button-container {
  padding: 1rem 4rem;
  margin-top: 6rem; }

.button {
  display: inline-block;
  background-color: white;
  padding: 1rem 4rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s; }
  .button .arrow-icon {
    font-size: 2rem; }
  .button a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: black;
    text-decoration: none; }
  .button:active {
    transform: translateY(5px); }

.countries--container {
  margin-top: 2rem;
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10rem;
  row-gap: 10rem;
  transition: opacity 0.2s;
  cursor: pointer; }

.countries {
  width: 100%;
  transition: transform 0.3s; }
  .countries a {
    text-decoration: none;
    color: black; }
  .countries:active {
    transform: translateY(5px); }

.country {
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  /* border: 2px solid red; */ }

.country__data {
  padding: 0 2rem 3rem 2rem; }

.country__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.country__name {
  font-weight: 800; }

.country__row {
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem; }

.country__row span {
  font-weight: 300; }

.container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.8rem;
  padding: 1rem 4rem; }

.img-container {
  width: 80%;
  align-self: center; }
  .img-container img {
    width: 100%; }

.rootData-container {
  border: 1px solid blue;
  width: 100%; }

/* BELOW 1440px */
@media (max-width: 90em) {
  html {
    font-size: 56.25%; }
  .dark-mode-container {
    width: 9%; }
  .filter-region--container {
    width: 12%; } }

/* BELOW 1300px */
@media (max-width: 81em) {
  .filter-region--container {
    width: 15%; } }

/* BELOW 1160px */
@media (max-width: 72em) {
  .input-container {
    width: 30%; }
  .dark-mode-container {
    width: 12%; } }

/* BELOW 1040px */
@media (max-width: 65em) {
  .dark-mode-container {
    width: 15%; }
  .input-container {
    width: 40%; }
  .filter-region--container {
    width: 20%; }
  .countries--container {
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem; }
  /* .countries--container {
      column-gap: 2rem;
    } */ }

/* BELOW 840px */
@media (max-width: 52em) {
  .dark-mode-container {
    width: 20%; }
  .input-container {
    width: 50%; }
  .filter-region--container {
    width: 25%; }
  .countries--container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem; } }

/* BELOW 580px */
@media (max-width: 36em) {
  .dark-mode-container {
    width: 25%; }
  .filter-section {
    flex-direction: column;
    gap: 6rem;
    margin-top: 4rem; }
  .filter-region--container {
    align-self: flex-start;
    width: 40%; }
  .input-container {
    width: 100%; }
  .countries--container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8rem; } }

/* BELOW 470px */
@media (max-width: 30em) {
  .nav {
    font-size: 1.2rem; }
    .nav {
      display: flex;
      justify-content: space-between;
      padding: 0.8rem 2rem; }
  .filter-section {
    gap: 4rem;
    margin-top: 2rem; }
    .filter-section {
      display: flex;
      justify-content: space-between;
      padding: 0.8rem 2rem; }
  .countries--container {
    padding: 0.8rem 2rem; }
  .filter-region--container {
    width: 60%; } }
