/* BELOW 1440px */
@media (max-width: 90em) {
  html {
    font-size: 56.25%;
  }

  .dark-mode-container {
    width: 9%;
  }

  .filter-region--container {
    width: 12%;
  }
}

/* BELOW 1300px */
@media (max-width: 81em) {
  .filter-region--container {
    width: 15%;
  }
}

/* BELOW 1160px */
@media (max-width: 72em) {
  .input-container {
    width: 30%;
  }

  .dark-mode-container {
    width: 12%;
  }
}

/* BELOW 1040px */
@media (max-width: 65em) {
  .dark-mode-container {
    width: 15%;
  }

  .input-container {
    width: 40%;
  }

  .filter-region--container {
    width: 20%;
  }

  .countries--container {
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
  }

  /* .countries--container {
      column-gap: 2rem;
    } */
}

/* BELOW 840px */
@media (max-width: 52em) {
  .dark-mode-container {
    width: 20%;
  }

  .input-container {
    width: 50%;
  }

  .filter-region--container {
    width: 25%;
  }

  .countries--container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
}

/* BELOW 580px */
@media (max-width: 36em) {
  .dark-mode-container {
    width: 25%;
  }

  .filter-section {
    flex-direction: column;
    gap: 6rem;
    margin-top: 4rem;
  }

  .filter-region--container {
    align-self: flex-start;
    width: 40%;
  }

  .input-container {
    width: 100%;
  }

  .countries--container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8rem;
  }
}

/* BELOW 470px */
@media (max-width: 30em) {
  .nav {
    font-size: 1.2rem;
    // padding: 0.8rem 2rem;

    @include flex-box--template($padding-medium);
  }

  .filter-section {
    gap: 4rem;
    margin-top: 2rem;
    @include flex-box--template($padding-medium);
  }

  .countries--container {
    padding: $padding-medium;
  }

  .filter-region--container {
    width: 60%;
  }
}
